
<!--热门文章-->
<div class="articleHot mar_top_15">
  <div common-header title-header="'热门文章'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <div dw-loading="articleHot">
      <ul class="rankingList" ng-repeat="rankingData in hotArticleData.ListData" ng-class="{'rankListBg':$index%2!=0}">
        <li class="list2">
          <span ng-if="$index<3" ng-class="{'rankFirstBg':$index==0,'rankSecondBg':$index==1,'rankThirdBg':$index==2}"></span>
          <span ng-if="$index>=3">{{$index+1}}</span>
        </li>
        <li class="list8" title="{{rankingData.Name}}">
          <a target="_blank" ui-sref="articleDetail({ID:rankingData.Id})">{{rankingData.Name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>


