/**
 * 电子书引导模块(首页)
 */
@import "../styles/mixins";
.bookGuide {
  .bookList{
    .clearFix();
    width: 100%;
    padding-top: 20px;
    li{
      width: 33.3%;
      .bookImg{
        .pull-left();
        width: 40%;
      }
      img{
        .wh(100%,162px);
      }
      .content{
        width: 60%;
        padding: 5px 15px 0 15px;
        .title{
          padding: 0 0 15px 0;
          .ellipsis();
        }
        .desc{
          color: @text-color-3;
          margin: 10px 0;
          height: 60px;
        }
        .author{
          color: @text-color-2;
        }
        .clickCount{
          color: @orange-3;
          margin-top: 5px;
        }
      }
    }
  }
}

