<!--公务员培训-->
<div class="civilServiceTrainingLink">
  <div class="com-header com-header-blue">
    <h4 class="pull-left">公务员培训</h4>
    <a ui-sref="csTrainingNews" class="pull-right" target="_blank">更多&nbsp;&nbsp;+</a>
  </div>
  <div class="civil-body" dw-loading="civilServiceTrainingLink">
    <ul>
      <li ng-repeat="linkDate in civilServiceTrainingLink.ListData">
        <a ui-sref="articleDetail({ID:linkDate.Id})" title="{{linkDate.Name}}" target="_blank"><span class="dian"></span><span class="content">{{linkDate.Name}}</span></a></li>
    </ul>
  </div>
</div>


