<!--教学计划-->
<div class="trainingCenter ">
  <div common-header title-header="'教学计划'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="trainingClass">培训班</a></li>
      <li><a ui-sref="classDetail({Id:Id})">{{classPlanData.TrainingName}}</a></li>
      <li class="active">教学计划</li>
    </ol>
    <div class="borderTopBold" dw-loading="classPlan">
      <h2 class="commonTitle">教学计划</h2>
      <div class="justify" ng-bind-html="classPlanData.TeachingPlan | trustHtml"></div>
    </div>
  </div>
</div>

