<!--课程点击排行-->
<div class="courseRankingList" dw-loading="courseRankingList">
  <div common-header title-header="'课程排行'" show-more=true link-url="'rankcourseclick'"></div>
  <div class="tmBorder">
    <p class="rankTitle">
      <span class="list2">排行</span>
      <span class="list5">课程名称</span>
      <span class="list3">点击数</span>
    </p>
    <ul class="rankingList" ng-repeat="rankingData in courseRankingList.ListData"  ng-class="{'rankListBg':$index%2!=0}">
      <li class="list2">
        <span ng-if="$index<3" ng-class="{'rankFirstBg':$index==0,'rankSecondBg':$index==1,'rankThirdBg':$index==2}"></span>
        <span ng-if="$index>=3">{{$index+1}}</span>
      </li>
      <li class="list5" title="{{rankingData.Name}}">
        <a ui-sref="courseDetails({Id:rankingData.Id})" target="_blank">{{rankingData.Name}}</a>
      </li>
      <li class="list3">{{rankingData.Total}}</li>
    </ul>
  </div>
</div>
