<!--考试中心-->
<div class="examList ">
  <div common-header title-header="TotalData.TitleNav" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">{{TotalData.TitleNav}}</li>
    </ol>
    <form class="form-inline formSearch">
      <select class="form-control" ng-init="selectedName = courseStatus[0]" ng-model="selectedName" ng-options="x.name for x in courseStatus" ng-change="selectChangeFun(selectedName.id)">
      </select>
      <div class="form-group">
        <input ng-model="searchTitle" type="text" class="form-control" my-placeholder placeholder="请输入要搜索的考试">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="searchMyCenterCourse({'examType':selectedName.id,'title':searchTitle,'page':'1'})">搜索</button>
    </form>
    <div class="myTab">
      <ul class="nav nav-tabs">
        <li ng-class="{active: vm.activeTab == 1}"><a ng-click="vm.activeTab = 1;searchMyCenterCourse({'examType':'UnFinish','title':searchTitle,'page':'1'})">未完成的考试</a></li>
        <li ng-class="{active: vm.activeTab == 3}"><a ng-click="vm.activeTab = 3;searchMyCenterCourse({'examType':'Finish','title':searchTitle,'page':'1'})">已完成的考试</a></li>
      </ul>
      <div class="tab-content" dw-loading="examList">
        <div class="tab-panel perlist" ng-show="vm.activeTab == 1">
          <div class="title_bar">
            <span class="list3-5">考试名称</span>
            <span class="list1">考试学时</span>
            <span class="list1">时限</span>
            <span class="list1-5">参加测试</span>
            <span class="list2-5">考试时间</span>
          </div>
          <div class="list" ng-repeat="unFinish in TotalData.UnfinishModel">
              <span class="list3-5 ellipsis" title="{{unFinish.Name}}"><a target="_blank" ng-click="havTest(unFinish.Id,e)">{{unFinish.Name}}</a></span>
              <span class="list1">{{unFinish.CreditHour}}</span>
              <span class="list1">{{unFinish.TimeLimit}}</span>
              <span class="list1-5"><a ng-click="havTest(unFinish.Id)">参加测试</a></span>
              <span class="list2-5">{{unFinish.StartTime | dateFilter | date:'yyyy-MM-dd'}}~{{unFinish.EndTime | dateFilter | date:'yyyy-MM-dd'}}</span>
          </div>
          <div ng-transclude="pagation"></div>
        </div>
        <div class="tab-panel perlist" ng-show="vm.activeTab == 3">
          <div class="title_bar">
            <span class="list3-5">考试名称</span>
            <span class="list1">考试学时</span>
            <span class="list1">时限</span>
            <span class="list1-5">通过状态</span>
            <span class="list1-5">参加测试</span>
            <span class="list1-5">查看详细记录</span>
          </div>
          <div class="list" ng-repeat="Finish in TotalData.FinishModel">
              <span class="list3-5 ellipsis" title="{{Finish.Name}}"><a ng-click="havTest(Finish.Id)" target="_blank">{{Finish.Name}}</a></span>
              <span class="list1">{{Finish.CreditHour}}</span>
              <span class="list1">{{Finish.TimeLimit}}</span>
              <span class="list1-5 red" ng-show="Finish.PassFlag">通过</span>
              <span class="list1-5" ng-hide="Finish.PassFlag">未通过</span>

              <span class="list1-5"><a ng-click="havTest(Finish.Id,e)">参加测试</a></span>
              <span class="list1-5"><a ui-sref="examDetailList({Id:Finish.Id})">查看详细记录</a></span>
          </div>
          <div ng-transclude="pagation"></div>
        </div>
      </div>
    </div>
  </div>
</div>
