<!--忘记密码-->
<div class="forgetPassword">
  <div common-header title-header="'找回密码'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb" style="margin-bottom: 0;">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">找回密码</li>
    </ol>
    <div dw-loading="forgetPassword">
      <form class="form-inline center" ng-show="showAccount">
        <div class="commonTitle">找回密码</div>
        <div class="form-group">
          <label for="account">请输入账号：</label>
          <input class="form-control" type="text" ng-model="account" id="account">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="submitAccount(account)">提交</button>
      </form>
      <form class="form-inline center" ng-hide="showAccount">
        <div class="commonTitle">填写密保答案</div>
        <div class="form-group">
          <label for="question">{{question}}：</label>
          <input class="form-control" type="text" ng-model="answer" id="question">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="submitQuestion(answer)">提交</button>
      </form>
    </div>
    <p class="tip-forget">友情提示：只有设置密保后才能找回密码，如有疑问请联系管理员！</p>
  </div>
</div>
