<div class="guideEntry mar_left_20">
  <div common-header title-header="'快速入口'" show-more=false link-url="''"></div>
  <div class="guideContent">
    <ul class="clearfix">
      <li>
        <a target="_blank" ui-sref="collegeinfo" class="professionals">
          <img src="../images/entrance1.png" alt=""> <br>
          <p>平台介绍</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="articleDetail({ID:'79'})" class="professionals">
          <img src="../images/entrance2.png" alt=""> <br>
          <p>考核规则</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="articleDetail({ID:'29'})" class="professionals">
          <img src="../images/entrance3.png" alt=""> <br>
          <p>常见问题</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="polllist" class="professionals">
          <img src="../images/entrance4.png" alt=""> <br>
          <p>问卷调查</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="originalarticlelist" class="professionals">
          <img src="../images/entrance5.png" alt=""> <br>
          <p>学员心声</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="messageList" class="professionals">
          <img src="../images/entrance6.png" alt=""> <br>
          <p>在线留言</p>
        </a>
      </li>
    </ul>
  </div>
</div>

