<div class="guideEntry mar_left_20">
  <div common-header title-header="'功能链接'" show-more=false link-url="''"></div>
  <div class="guideContent">
    <ul class="clearfix">
      <li>
        <a target="_blank" ui-sref="courseCenter" class="professionals">
          <img src="../images/entrance1.png" alt=""> <br>
          <p>精品课程</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="personalCenter" class="professionals">
          <img src="../images/entrance7.png" alt=""> <br>
          <p>个人空间</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="articleDetail({ID:'30'})" class="professionals">
          <img src="../images/entrance3.png" alt=""> <br>
          <p>学习帮助</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="testCenter" class="professionals">
          <img src="../images/entrance4.png" alt=""> <br>
          <p>网上考试</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="classlist({type:'my'})" class="professionals">
          <img src="../images/entrance9.png" alt=""> <br>
          <p>我的班级</p>
        </a>
      </li>
      <li>
        <a target="_blank" ui-sref="personaLearningArchives" class="professionals">
          <img src="../images/entrance8.png" alt=""> <br>
          <p>个人档案</p>
        </a>
      </li>
    </ul>
  </div>
</div>

