<!--修改密码-->
<div class="modifyPassword">
  <div common-header title-header="'修改密码'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="personalCenter">个人中心</a></li>
      <li class="active">修改密码</li>
    </ol>
    <div class="modify-password">
      <form role="form">
        <div class="form-group modify-password-form">
          <ul>
            <input type="password" autocomplete="off" style="display: none">
            <li>
              <span class="control-label grid_6 text-right">旧密码：</span>
              <input id="txtOldPwd" ng-model="txtOldPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="OldPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入原密码"/>
            </li>
            <li>
              <span class="control-label grid_6 text-right">新密码：</span>
              <input id="txtNewPwd" ng-model="txtNewPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="NewPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入新密码"/>
            </li>
            <li>
              <span class="control-label grid_6 text-right">重复新密码：</span>
              <input id="txtRepeatNewPwd" ng-model="txtRepeatNewPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="RepeatNewPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入确认密码"/>
            </li>
            <li>
              <button class="btn btn-primary" ng-click="modifyPwd()">确定</button>
            </li>
            <li>
              <a ui-sref="securitySetting" class="btn btn-default">设置密保</a>
            </li>
          </ul>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>




