<!--导航-->
<div class="navBg">
  <div class="container_24">
    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active"><a ui-sref="main">首页</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="courseCenter">网络课堂</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="testCenter">网上考试</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'aroundNews'})">各地动态</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'工作简报'})">工作简报</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'规章制度'})">规章制度</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="speciallearning">专题学习</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="messageList">建言献策</a></li>
      <li role="presentation"><a ng-click="outPlate()">退出系统</a></li>
    </ul>
  </div>
</div>

