<!--个人中心导航-->
<div class="personalCenterNav">
  <div common-header title-header="'个人中心导航'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ul class="categoryGuide">
      <li><a ui-sref="courseCenter" class="btn btn-primary">选择课程</a></li>
      <li><a ui-sref="studyStat" class="btn btn-primary">学习统计</a></li>
      <li><a ui-sref="testStat" class="btn btn-primary">考试统计</a></li>
      <li><a ui-sref="studyPlan" class="btn btn-primary">学习计划</a></li>
      <li><a ui-sref="myFavorite" class="btn btn-primary">我的收藏</a></li>
      <li><a ui-sref="messageList" class="btn btn-primary">留言板</a></li>
      <li><a ui-sref="originalarticlelist" class="btn btn-primary">学员心声</a></li>
      <li><a ui-sref="studentstyle" class="btn btn-primary">学员风采</a></li>
      <li><a ui-sref="polllist" class="btn btn-primary">问卷调查</a></li>
      <li><a ui-sref="software" class="btn btn-primary">必装软件</a></li>
      <li><a ui-sref="rankcourseclick" class="btn btn-primary">排行榜</a></li>
      <li><a ui-sref="speciallearning" class="btn btn-primary">专题学习</a></li>
      <li><a ui-sref="resultshow" class="btn btn-primary">成果展示</a></li>
      <li><a ui-sref="article" class="btn btn-primary">新闻中心</a></li>
    </ul>
  </div>
</div>
