<div class="warnPdf">10秒允许翻页，当前章节学习时间<span id="stime"></span>秒</div>
<div id="documentViewer" class="flexpaper_viewer" style="width:770px;height:600px">
  <p>
    To view this page ensure that Adobe Flash Player version
    10.0.0 or greater is installed.
  </p>
  <script type="text/javascript">
    var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
    document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
  </script>
</div>
<!--<iframe frameborder="0" src="/FlexPaper_2.3.6/index.html" class="iframe_play" width="100%" height="100%"></iframe>-->
<style>
  .flexpaper_viewer {
    margin: 0 auto;
  }

  .warnPdf {
    color: #333;
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }
</style>
