<!--打印证书-->
<div style="text-align: center">
  <button style="margin: 20px 0;" class="btn btn-primary startPrint">打印证书</button>
  <div class="print">
    <style>
      body {
        background: none;
      }

      .print {
        text-align: center;
        font-family: "宋体";
        color: #000;
        font-weight: bold;
        font-size: 20px;
      }

      #print-content {
        position: relative;
        text-align: left;
        width: 960px;
        margin: 0 auto;
      }

      .print .left-content {
        position: absolute;
        width: 45%;
        left: 0;
        top: 0;
        padding-left: 80px;
      }

      .print .left-content h3 {
        font-size: 25px;
        font-weight: bold;
        text-indent: 2em;
        margin-top: 150px;
      }

      .print .left-content .stamp {
        margin-top: 80px;
      }

      .print .left-content .num {
        margin-top: 80px;
        line-height: 60px;
      }

      .print .right-content {
        position: absolute;
        width: 47%;
        right: 0;
        top: 0;
        padding-right: 60px;
      }

      .print .right-content .info {
        margin-top: 210px;
        line-height: 50px;
      }

      .print .right-content .bottom {
        margin-top: 10px;
        line-height: 60px;
      }
    </style>
    <div id="print-content">
      <img src="../images/printbg2.png" alt="">
      <div class="left-content">
        <h3>
          证书表明持证人已完成 无数据 培训班 学习任务，特发此证。
        </h3>
        <div class="stamp">
          <span>发证机关:<span>xxx部</span></span>
          <span style="margin-left: 20px">盖章</span>
        </div>
        <div class="num">
          <p>证书编号:<span> 无数据</span></p>
          <p>印制编号:<span> 无数据</span></p>
        </div>
      </div>
      <div class="right-content">
        <div class="info">
          <p>姓&nbsp;&nbsp;名:&nbsp; 无数据</p>
          <p>性&nbsp;&nbsp;别:&nbsp; 无数据</p>
          <p>身份证号:&nbsp; 无数据</p>
          <p>工作单位:&nbsp; 无数据</p>
        </div>
        <div class="bottom">
          <p>发证单位:&nbsp;<span>杭州精英在线基准平台</span></p>
          <p>发证日期:&nbsp; 无数据</p>
        </div>
      </div>
    </div>
  </div>
</div>