<!--排行榜导航-->
<div class="personalCenterNav">
  <div common-header title-header="'排行榜导航'" show-more=false link-url="''"></div>
  <div class="content tmBorder">
    <ul>
      <li class="mar_top_15">
        <a ui-sref="rankcourseclick" class="btn btn-primary">课程点击排行</a>
        <a ui-sref="rankloginsum" class="btn btn-primary">登陆次数排行</a>
      </li>
      <li class="mar_top_15">
        <a ui-sref="rankgroup" class="btn btn-primary">单位排行</a>
        <a ui-sref="rankcoursefinish" class="btn btn-primary">课程完成排行</a>
      </li>
      <li class="mar_top_15">
        <a ui-sref="userRankingList" class="btn btn-primary">个人排行</a>
      </li>
    </ul>
  </div>
</div>
