/**
 * 专题学习more
 */
@import "../styles/mixins";

.specialLearningCourse {
  .courseList {
    margin-top: 15px;
    .clearFix();
    min-height: 235px;
    li {
      .pull-left();
      width: 25%;
      padding: 20px 26px 0 0;
      &.last {
        padding-right: 0;
      }
      img {
        .wh(100%, 158px);
      }
      .courseName {
        margin-top: 10px;
        width: 100%;
        .ellipsis();
        a {
          color: #003333;
          font-size: @font-size-lg;
          &:hover {
            color: lighten(#003333, 5%);
          }
        }
      }
      .courseTeacher {
        color: @text-color-3;
        margin-top: 5px;
      }
    }
  }
}
