<!--学员风采-->
<div class="studyStyle">
  <div common-header title-header="'优秀学员'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">优秀学员</li>
    </ol>
    <div class="styleContent" dw-loading="studyStyle">
      <ul class="clearfix">
        <li class="courseList pull-left" ng-repeat="list in studyStyleData.ListData">
          <a ui-sref="studentstyledetail({Id:list.Id})">
            <img ng-src="{{studyStyleData.Path+'/'+list.Img}}" err-src="/images/noGoodStudent.png">
          </a>
          <p><a ui-sref="studentstyledetail({Id:list.Id})" class="name">{{list.Name}}</a></p>
          <p class="source">{{list.Source}}</p>
        </li>
      </ul>
      <div tm-pagation conf="paginationConf"></div>
    </div>
  </div>

</div>
