<!--学习统计-->
<div class="studyStat">
  <div common-header title-header="'学习统计'" show-more=false link-url="''"></div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></span> 您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="personalCenter">个人中心</a></li>
      <li class="active">学习统计</li>
    </ol>
    <form class="form-inline formSearch">
      <span>查询时间：</span>
      <div class="form-group">
        <div class="datePicker">
          <input  class="form-control" type="text" ng-model="startTime" date-time-picker>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
      </div>
      <span>至</span>
      <div class="form-group">
        <div class="datePicker">
          <input  class="form-control" type="text" ng-model="endTime" date-time-picker>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="requestMyStudyStat({StartDate:startTime,EndDate:endTime})">查询</button>
    </form>
    <p class="welcome">
      尊敬的 <b class="highlight">{{studyStatData.Account}}</b>, 截止 <b class="highlight">{{studyStatData.StartDate}} 至 {{studyStatData.EndDate}} </b>, 您的学习状态：<b class="highlight">学习中</b> , 您已经累计获得课程学时 <b class="highlight">{{studyStatData.CreditSum}}</b> 学时 , 您已经选修 <b class="highlight">{{studyStatData.Count}}</b> 门课程, 已经完成 <b class="highlight">{{studyStatData.FinishCourse}}</b> 门课程, 您目前正在学习 <b class="highlight">{{studyStatData.UnFinishCourse}}</b> 门课程。
    </p>
    <div class="myTab">
      <div class="tab-content" dw-loading="studyStat">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">用户名</span>
            <span class="list2">姓名</span>
            <span class="list4">课程名称</span>
            <span class="list2">获得学时</span>
          </div>
          <div class="list" ng-repeat="studyList in studyStatData.ListData">
              <span class="list2">{{studyStatData.Account}}</span>
              <span class="list2">{{studyList.UserName}}</span>
              <span class="list4 ellipsis">{{studyList.Name}}</span>
              <span class="list2">{{studyList.Credit}}</span>
          </div>
          <div ng-transclude="pagation"></div>
        </div>
      </div>
    </div>
  </div>
</div>


