<!--个人信息-->
<div class="UserInformation">
  <div common-header title-header="'个人信息'" show-more=false link-url="''"></div>
  <div class="tmBorder" dw-loading="loginOut">
    <ul class="loginAfter_ul">
      <li>欢迎您：<b class="highlight">{{info.Model.Name}}</b>({{info.Model.Account}})</li>
      <li>
        <span class="hours">课程学时：<span class="highlight">{{info.Model.PcCredit+info.Model.MobileCredit}}</span></span>
        <span class="hours">考试学时：<span class="highlight">{{info.Model.ExamCredit}}</span></span>
      </li>
      <li>
        <span class="hours">当前学时：<span class="highlight">{{info.Model.SumCredit}}</span></span>
        <span class="hours">规定学时：<span class="highlight">{{info.Model.BatchTotalCredit}}</span></span>
      </li>
      <li>
        <span>考核状态：<span class="highlight">{{info.Model.PassStatus?"通过":"未通过"}}</span></span>
      </li>
      <li>
        <span>个人学习档案</span>
        <span class="item2"><a ui-sref="personaLearningArchives" target="_blank">详细&gt;&gt;</a></span>
      </li>
      <li>
        <span>您有<span class="highlight"> {{info.Model.UnRead}} </span>条新通知！</span>
        <span class="item2"><a ui-sref="unReadNotice">详细&gt;&gt;</a></span>
      </li>
      <li class="lastChild">
        <a ui-sref="modifyPassword">修改密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="changeUser">修改信息</a> &nbsp;|&nbsp;
        <span class="item2" ng-if="info.UserType=='管理员'"><a href="/admin/" target="_blank">进入管理控制台</a></span>
      </li>
      <li class="exit">
        <a class="btn btn-primary" ng-click="out('out')">退出</a>
      </li>
    </ul>
  </div>
</div>
