<div tm-special-banner></div>
<div tm-nav-bars></div>
<div class="container_24 mar_top_20">
  <div class="grid_7">
    <div tm-special-new-slide slide-data="slideData" start-slide="startSlide"></div>
  </div>
  <div class="grid_8_2 pad_left_20">
    <div tm-special-news special-news-data="specialNewsData" category-code="importantTalk"></div>
  </div>
  <div class="grid_8_2 pad_left_20">
    <div tm-special-news special-news-data="learningInformData" category-code="LearningInform"></div>
  </div>
</div>
<div class="container_24 mar_top_40">
  <div class="grid_24">
    <div tm-special-learning-course special-course-data="specialCourseData"></div>
  </div>
</div>
<div class="container_24 mar_top_20">
  <div class="grid_8">
    <div tm-special-news special-news-data="commentsNewsData" category-code="commentsNews"></div>
  </div>
  <div class="grid_8 pad_left_20">
    <div tm-special-news special-news-data="theoryData" category-code="theory"></div>
  </div>
  <div class="grid_8 pad_left_20">
    <div tm-special-news special-news-data="placeStateData" category-code="placeState"></div>
  </div>
</div>
<div class="container_24 mar_top_20">
  <div tm-special-img study-special-data="studySpecialData" repeat-finish="repeatFinish"></div>
</div>

<div tm-footer></div>
