
<div tm-header></div>
<div tm-nav-bars></div>
<div class="container_24">

  <div class="grid_6 mar_top_15">
    <div expander classify-data="courseClassify" search="getClassList" name="'class'" title-nav="'培训班分类'"></div>
    <div tm-class-my class-my-data="classMyData" class-type="classMyType"></div>
    <div tm-class-my class-my-data="ClassActiveData" class-type="classActiveType"></div>
    <div tm-class-my class-my-data="ClassRecentData" class-type="classRecentType"></div>
  </div>
  <div class="grid_18 mar_top_15 pad_left_10">
    <div tm-class-list></div>
  </div>

</div>
<div tm-footer></div>
