<!--首页-->
<div tm-header></div>
<div tm-nav-bars></div>
<div tm-user-login></div>
<div tm-chart></div>
<div class="container_24">
  <div class="container_24 mar_top_20">
    <div class="grid_12">
      <div tm-notice-announcement notice-data="noticeData" repeat-finish="startSlide"></div>
    </div>
    <div class="grid_12">
      <div tm-news-information></div>
    </div>
  </div>
  <div class="container_24 mar_top_20">
    <div class="grid_17">
      <div tm-course-center></div>
      <div tm-class-garden></div>
      <div tm-book-guide></div>
    </div>
    <div class="grid_7">
      <div tm-guide-entry></div>
      <div tm-special-training></div>
      <div tm-ranking-tab></div>
    </div>
  </div>
  <div class="container_24">
    <p><img style="width: 100%;height: 172px" src="../images/bannerCenter.png" alt=""></p>
  </div>
</div>
<div tm-footer></div>
<div tm-tip></div>



